@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation pour le carrousel */
@keyframes scroll {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(calc(-300px * 8 - 1.5rem * 7));
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

.lawyer-card {
  width: 300px;
}